*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: grid;
    place-items: center;
}

.clock-wrap {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.clock {
    font-size: clamp(1rem, 8vw, 6rem);
    letter-spacing: .5rem;
    color: rgba(255, 255, 255, 0.836);
    background: rgba(255, 255, 255, 0.171);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

span{
    color: rgba(0, 0, 0, 0.568);
    margin: 15px;
    font-size: clamp(.9rem, 8vw, 2rem);
}

.content{
    width: 90%;
}
.msg{
    font-size: clamp(1rem, 8vw, 6rem);
    color: white;
    text-align: center;
    margin: 2rem;
}
.evening{
    background:linear-gradient(90deg, #fe8c00 0%,#f83600 100% );
}
.night{
    background:linear-gradient(90deg, #0b0e1f 0%,#f00f69 100% );
}
.morning{
    background:linear-gradient(90deg, #00d2ff 0%,#3a7bd5 100% );
}

.mid-day{
    background:linear-gradient(90deg, #fffab1 0%,#ffdb00 55% );
}