:root{
    --border-radius: 12px;
    --white-glass-bg: #0f0f0f7a;
    --backdrop-filter: blur(25px) saturate(5);
    --border: 1px #00000021 solid;
    --box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr min(99ch, 100%) 1fr;
}

body > *{
grid-column: 2;
}
.full-bleed {
width:100%;
grid-column: 1 / 4;
}
.clock-wrap {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.clock {
    font-size: clamp(3rem, 8vw, 6rem);
    color: rgba(255, 255, 255, 0.836);
    background: var(--white-glass-bg);
    backdrop-filter: var(--backdrop-filter);
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

span{
    color: rgba(255, 255, 255, 0.568);
    margin-left: 5px;
    font-size: clamp(.5rem, 8vw, 1rem);
}

.content{
    width: 95%;
}
.msg{
    font-size: clamp(1rem, 8vw, 6rem);
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.evening{
    background:linear-gradient(90deg, #fe8c00 0%,#f83600 100% );
}
.night{
    background: linear-gradient(180deg, rgba(7,3,77,1) 0%, rgba(8,8,40,1) 15%, rgba(5,28,43,1) 85%, rgba(0,61,73,1) 100%);
}
.morning{
    background:linear-gradient(90deg, #00d2ff 0%,#3a7bd5 100% );
}

.mid-day{
    background:linear-gradient(90deg, #fffab1 0%,#ffdb00 55% );
}

/* weather card */


.weather{
    background: var(--white-glass-bg);
    backdrop-filter: var(--backdrop-filter);
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    color: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
}
.weather__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weather__center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5rem 0;
    gap: 20px;
}
.weather__center >.temp{
    font-size: clamp(8rem, 8vw, 19rem);
    color: white;
    display: flex;
    align-items: flex-start;
}
.weather__center >.temp p{
    color: #ffffffb2;
    font-size: 2rem;
}
.weather__center .icon img{
    max-height: 350px;
    width: 100%;
    object-fit: contain;
}


.weather__bottom .day{
    color: rgba(255, 255, 255, 0.541);
    font-weight: 200;

}